<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93541010773-ce1bpegn1sludtalj33h8kt3v9cpv94b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93541010773-ce1bpegn1sludtalj33h8kt3v9cpv94b</string>
	<key>API_KEY</key>
	<string>AIzaSyB5osm1mxer9Cf041vciqKPsrPcXKUxC2E</string>
	<key>GCM_SENDER_ID</key>
	<string>93541010773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vitals</string>
	<key>PROJECT_ID</key>
	<string>vitals-b3bbd</string>
	<key>STORAGE_BUCKET</key>
	<string>vitals-b3bbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93541010773:ios:2d785db772bb40c94eb3dc</string>
</dict>
</plist>